.detail-view-container {
    position: relative;
    width: 72%;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /*overflow: scroll;*/
    height: inherit;
}

.report {
    background: #fff;
    height: 985px;
    padding: 3%;
    width: auto;
}

.report1 {
    margin-left: -56%;
    background: #F8F8F8;
    z-index: 2;
    height: 985px;
    width: 155%;
    padding-top: 3%;
}

.left-li {
    float: left;
}

.left-li ul li {
    display: block;
    float: none;
    text-align: left;
    width: 250px;
}

.ll-t {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    font-size: 1em !important;
    line-height: 50px !important;
}

.ll-t:hover {
    color: #007aff !important;
    font-weight: bold;
}

.contain3 .rightside-title {
    margin-top: 0px;
    margin-left: 0;
    border-bottom: 1px dotted #919191 !important;
}

.contain3 .receipt-detail-holder li {
    border-bottom: 1px dotted #919191 !important;
    display: inline-block !important;
    float: none !important;
    height: 90px !important;
    padding-top: 4% !important;
    text-align: left !important;
    width: 560px !important;
}

.contain3 .receipt-detail-holder li a {
    width: 280px !important;
}

.contain3 .receipt-detail-holder li span {
    color: black;
}

.contain3 .receipt-detail-holder {
    float: left;
    height: auto;
    margin-left: 90px;
    margin-top: 14px;
    min-height: 270px;
    width: 62%;
}

.font3em {
    font-size: 3em;
}

.font2em {
    font-size: 2em;
}

p, a, h1, h2, h3, span {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.address {
    padding-top: 2%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.95em;
    line-height: 120%;
}

.colorblue {
    color: #007aff;
}

.detailHead {
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    margin-top: 2%;
    padding: 2% 0.5%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.border li {
    border-bottom: none;
    margin-left: -10px;
    width: 100% !important;
}

.mar10px {
    margin-left: 10px;
}

.receipt-li-price-text {
    color: #030201;
    font-weight: bold;
    font-size: 1.0em;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    line-height: 50px;
    padding-left: 7px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.receipt-item-check {
    text-align: center;
    width: 1px;
}

.receipt-item-name {
    padding-left: 7px;
}

.receipt-item-name a {
    color: #007AFF;
    line-height: 50px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 220px;
    padding-left: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.receipt-item-name a:hover {
    font-weight: bold;
}

.receipt-item-name div {
    margin-top: -15px;
    font-size: 0.75em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.receipt-detail-holder.border {
    width: 100% !important;
}

.receipt-detail-holder.border {
    float: right;
    width: auto;
}

.downloadIconBlink {
    background-color: darkgreen;
}
.downloadIcon {
    background-color: darkgreen;
}