
body {
    margin: 0px;
    height: 568px;
}

.header_left_content {
    width: 183px;
    height: 48px;
    float: left;
    margin-top: -6px;
}

.header {
    border-bottom: 2px solid #FFF;
    background: linear-gradient(to bottom, #FFF 0%, #FFF 61%, #FFF 99%) repeat scroll 0px 0px transparent;
    box-shadow: 1px 1px 1px 1px #606060;
}

.header_main {
    border-bottom: 2px solid #FFF;
    background: linear-gradient(to bottom, #FFF 0%, #FFF 61%, #FFF 99%) repeat scroll 0px 0px transparent;
    box-shadow: 1px 1px 1px 1px #606060;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

.header_wrapper {
    width: 960px;
    height: 58px;
    margin: 0 auto;
}

.header_wrappermain {
    width: 960px; /* 965px */
    height: 58px;
    margin: 0 auto;
}

.main_wrapper {
    width: 100%;
    height: auto;
    float: left;
}

.header_left_contentmain {
    width: 153px;
    height: 48px;
    float: left;
    margin-top: 12px;
}

.header_right_login {
    width: auto;
    height: 32px;
    float: right;
    margin-top: 22px;
    position: relative;
}

.header_right_logedin {
    width: auto;
    height: 32px;
    float: right;
    margin-top: 26px;
}

.sing_up {
    border-radius: 3px 3px 3px 3px;
    color: #333s;
    float: left;
    margin-right: 12px;
    font-size: 13px;
    padding: 5px 20px;
    text-decoration: none;
    border: solid 1px #899CAA;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #c0c0c0;
    background: -moz-linear-gradient(top, #c0c0c0 5%, #e5e4e2 94%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #c0c0c0), color-stop(94%, #e5e4e2));
    background: -webkit-linear-gradient(top, #c0c0c0 5%, #e5e4e2 94%);
    background: -o-linear-gradient(top, #c0c0c0 5%, #e5e4e2 94%);
    background: -ms-linear-gradient(top, #c0c0c0 5%, #e5e4e2 94%);
    background: linear-gradient(to bottom, #c0c0c0 5%, #e5e4e2 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0', endColorstr='#e5e4e2', GradientType=0);
}

.sing_up a {
    color: #333;
}

a {
    color: #222222;
    text-decoration: none;
}

.clear {
    clear: both;
}

.right {
    float: right;
    clear: both;
}

.left {
    float: left;
    clear: both;
}

.loginl {
    border: 1px solid gray;
    padding: 4px 50px 30px 40px;
    border-radius: 2%;
}

input.text {
    height: 6.5%;
    width: 100%;
    border: 1px solid #C5C5C5;
    border-radius: 3px;
    padding: 11px 1px 11px 10px;
    float: left;
    margin-bottom: 15px;
    font-size: 18px;
}

.checkbox {
    padding-top: 1%;
    padding-bottom: 10%;
    margin-top: 11px;
    float: left;
}

.checkbox_txt {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    vertical-align: bottom;
    line-height: 10px;
    padding-left: 14px;
}

.blurb-second {
    float: right;
    padding-top: 2%;
}

.blurb-second a {
    text-decoration: none;
    color: #0079FF;
}

.btnlogin {
    width: 35%;
    height: 7%;
    color: #fff;
    background-color: #0079FF;
    cursor: pointer;
}

.right_view {
    margin-top: -26px;
}

.signup_containerl {
    width: 64%;
    margin: 0 auto;
}

.signup_mainl {
    margin: 3% auto;
    width: 420px;
}

#email {
    margin-top: 0px;
}

#password {
    margin-top: 0px;
}

.signup_label {
    float: left;
    margin-top: 12px;
    margin-bottom: 5px;
}

.signup_label_text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.chk {
    float: left;
    font-size: 150%;
}

.submit_btn {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 125px;
    color: #fff;
    background-color: #0079FF;
    cursor: pointer;
    float: right;
    padding: 11px 0px;
}

.link {
    padding-left: 0px;
}

span.link a {
    color: #007AFF;
    line-height: 10px;
    font-weight: normal;
    text-decoration: none;
    text-align: right;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

span.link a:hover {
    font-weight: bold;
}

.registrationWhenTurnedOff {
    margin: 110px 0 10px 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}