.loginl {
    border: 1px solid gray;
    padding: 4px 50px 30px 40px;
    border-radius: 2%;
}

.signup_label_text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.submit_btn {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 125px;
    color: #fff;
    background-color: #0079FF;
    cursor: pointer;
    float: right;
    padding: 11px 0px;
}

.chk {
    float: left;
    font-size: 150%;
}

input.text {
    height: 6.5%;
    width: 100%;
    border: 1px solid #C5C5C5;
    border-radius: 3px;
    padding: 11px 1px 11px 10px;
    float: left;
    margin-bottom: 15px;
    font-size: 18px;
}

.checkbox {
    padding-top: 1%;
    padding-bottom: 10%;
    margin-top: 11px;
    float: left;
}

.checkbox_txt {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    vertical-align: bottom;
    line-height: 10px;
    padding-left: 14px;
}

.spacing {
    margin: 30px 0px 40px 0px;
}

.link {
    padding-left: 0px;
}

span.link a {
    color: #007AFF;
    line-height: 10px;
    font-weight: normal;
    text-decoration: none;
    text-align: right;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

span.link a:hover {
    font-weight: bold;
}

/* Login page */
.separator {
    text-align: center;
    height: 0.5em;
    border-bottom: 2px solid black;
    margin-bottom: 0.5em;
}
.separator:first-line {
    background-color: white;
}
/* Login page */

/*Warning Error Messages*/
.first {
    padding: 2%;
    border: 1px solid black;
    margin-top: 3%;
    margin-bottom: 3%;
    vertical-align: middle;
    background-color: #FF7D70;
    border-radius: 5px;
}

.first p {
    margin-top: -20px;
    color: #fff;
    font-size: 18px;
    padding-left: 5%;
}

.first-small {
    padding: 1%; !important;
}

.r-info, .r-success, .r-warning, .r-error, .r-validation {
    border: 1px solid;
    /*border-radius: 5px;*/
    margin: 10px 0px 20px 10px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.95em;
    width: 95%;
}

.r-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../static/images/info.png');
}

.r-success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../../static/images/success.png');
}

.r-warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../static/images/warning.png');
}

.r-error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../static/images/error.png');
}

.r-validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../../static/images/validation.png');
    margin: 10px 0 10px 0;
}

.r-no-bk-image {
    background-image: none;
}

/*Warning Error Messages*/