/* css reset (http://meyerweb.com/eric/tools/css/reset/) v2.0 | 20110126 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

b {
    font-weight: bold;
}

body {
    line-height: 1;
    overflow-y: scroll;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    background: #F8F8F8;
}

@font-face {
    font-family: 'HelveticaNeueLTProCn';
    src: url('../fonts/HelveticaNeueLTPro-Cn.eot');
    src: url('../fonts/HelveticaNeueLTPro-Cn.woff') format('woff'),
    url('../fonts/HelveticaNeueLTPro-Cn.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTPro-Cn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

header {
    width: 960px;
    height: 84px;
    margin: 0 auto;
    padding-left: 30px;
    margin-top: 18px;
}

header nav {
    display: inline-block;
    float: right;
}

.top-account-bar {
    width: 100%;
    height: 30px;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

.nav-hold {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.nav-list {
    background: none repeat scroll 0 0 #fff;
    height: auto;
    width: 578px;
}

.nav-list li {
    float: left;
    width: 110px;
    height: 40px;
    padding-top: 1px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
}

.nav-block {
    background: none repeat scroll 0 0 #f8f8f8;
    height: 41px;
    padding: 5px 0 40px 20px;
    border-bottom: 1px solid #919191;
}

.ui-state-active {
    background: #fff;
    border: 1px solid #919191;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    margin-top: 1px;
}

.nav-list li a {
    text-align: center;
    color: #333333;
    font-size: 0.688em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

/*JQuery UI tab outline remove */
.ui-widget * {
    outline: none;
}
/*JQuery UI tab outline remove ends */

header h1 {
    float: left;
    color: #000;
    font-size: 1.5em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

.h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.15em;
}

.h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 0.95em;
}

.h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.90em;
}

.main {
    width: 960px;
    height: auto;
    min-height: 500px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #919191;
    border-bottom: none;
}

.spacing {
    margin: 30px 0px 40px 0px;
}

/*-----Sidebar-----*/
.sidebar {
    width: 311px;
    min-height: 400px;
    height: auto;
    float: left;
    padding-left: 30px;
    margin-bottom: 60px;
    padding-top: 38px;
}

.report_sidebar {
    width: 160px;
    min-height: 500px;
    height: auto;
    float: left;
    padding-left: 30px;
    margin-bottom: 60px;
    padding-top: 38px;
}

.sidebar-top-summary {
    width: 280px;
    height: auto;
}

.sidebar-top-summary-upper {
    width: 280px;
    height: auto;
}

.sts-upper-right {
    height: auto;
    width: 208px;
    float: right;
    margin-top: 6px;
}

.sidebar-top-summary-lower {
    width: 280px;
    height: auto;
    padding-top: 30px;
}

.sidebar-git-datum {
    width: 280px;
    min-height: 90px;
    margin-top: 50px;
}

.gd-title {
    width: 280px;
    height: 24px;
    border-bottom: 1px solid #919191;
}

.gd-button-holder {
    width: 279px;
    height: 49px;
    margin-top: 14px;
}

.gd-button {
    width: 279px;
    height: 49px;
    font-size: 0.875em;
    border: none;
    background: #2c97de;
    border-radius: .30em;
    padding: 15px 20px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.gd-button-holder button:hover {
    background: #42a2e1;
}

.gd-button-holder button:focus {
    outline: none;
    background: #2b3e51;
}

.sidebar-indication {
    width: 280px;
    height: auto;
    min-height: 318px;
    margin-top: 50px;
}

.si-title {
    width: 280px;
    height: 24px;
    border-bottom: 1px solid #919191;
}

.si-list-holder {
    /*Increased from 280 to 300 to remove firefox horizontal scrollbar*/
    /*width: 280px;*/
    width: 300px;
    /*height: auto;*/
    min-height: 294px;
    margin-top: 14px;
    height: 80px;
    overflow-y: scroll;
}

.si-list-holder::-webkit-scrollbar {
    /* This is the magic bit */
    display: none;
}

.si-list {
    width: 280px;
    height: 54px;
    border-bottom: 1px dotted #919191;
}

.si-list-footer {
    font-weight: bold;
    font-size: 0.75em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 20px;
    text-align: center;
    display: block;
}

.si-list-footer-success {
    color: green;
}

.si-list-footer-error {
    color: darkred;
}

.si-footer {
    width: 280px;
    height: 14px;
    margin-top: 10px;
}

div .si-list-holder ul li img {
    margin-top: 15px;
    margin-left: 5px;
}

.sidebar-invite {
    width: 280px;
    height: auto;
    min-height: 144px;
    margin-top: 50px;
    margin-bottom: 50px;
}

div .sidebar-invite form input {
    color: #919191;
    border-radius: 4px;
    border: 1px solid #919191;
    height: 50px;
    width: 280px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    margin-top: 14px;
    padding-left: 10px;
}

/*-----Right Side Content-----*/
.rightside-content {
    width: 580px;
    height: auto;
    min-height: 610px;
    float: left;
    margin-left: 40px;
    margin-bottom: 60px;
    margin-top: -46px;
}

.lb_error {
    color: red;
}

.rightside-list-holder {
    width: 580px;
    height: 550px;
    min-height: 270px;
    margin-left: 10px;
    margin-top: 14px;
    margin-bottom: 50px;
    overflow-y: auto;
}

.rightside-list-holder-report {
    width: 680px;
    height: auto !important;
    min-height: 0px !important;
    overflow-y: hidden;
}

.rightside-list-holder li {
    width: 560px;
    height: 50px;
    border-bottom: 1px dotted #919191;
    float: none;
    line-height: none;
    display: inline-block;
    text-align: left;
    position: none;
    z-index: none;
}

.rightside-list-holder-report li {
    width: 660px;
}

.rightside-title {
    width: 560px;
    height: 32px;
    margin-left: 10px;
    margin-top: 40px;
    border-bottom: 1px solid #919191;
}

.report-title {
    width: 660px;
}

.rightside-title-less-margin {
    margin-top: 20px;
}

.ajx-content {
    width: 578px;
    height: auto;
}

.report-content {
    width: 710px;
    /*height: 550px;*/
    height: auto;
}

.pie-chart {
    width: 560px;
    height: auto;
    margin-left: 10px;
    margin-top: 14px;
}

.calendar {
    width: 560px;
    height: 550px;
    margin-left: 10px;
    margin-top: 14px;
    margin-bottom: 50px;
}

/*Full page*/
.full-list-holder {
    width: 960px;
    height: 550px;
    padding-left: 10px;
}

.full-list-holder li {
    width: 930px;
}

.counter-li-text {
    display: none;
    width: 40px !important;
}

.full-li-date-text {
    display: none;
    width: 218px !important;
}

.full-li-middle-text {
    width: 600px !important;
    display: inline !important;
    padding-left: 0px !important;
}

/*Full page end*/

/*Footer*/
.footer-tooth {
    width: 960px;
    height: 30px;
    overflow: visible;
    margin: 0 auto;
    margin-bottom: 150px;
}

.footer-tooth-middle {
    width: 958px;
    height: 30px;
    float: left;
    margin: 0 auto;
    background: url('../img/footer-pattern.png') repeat-x;
}

.footer-tooth-left {
    width: 1px;
    height: 25px;
    float: left;
    border-left: 1px solid #919191;
}

.footer-tooth-right {
    width: 1px;
    height: 24px;
    float: left;
    border-right: 1px solid #919191;
}

/***text styles***/
.top-account-bar-text {
    text-align: center;
    color: #333333;
    font-weight: normal;
    font-size: 0.863em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    float: right;
    margin-left: 20px;
}

.user-email {
    font-size: 0.863em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #000;
    float: right;
    text-transform: lowercase;
}

.big-view {
    font-size: 3.9em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #55D769;
    float: left;
}

a.big-view:hover, a.big-view:visited, a.big-view {
    text-decoration: none;
}

.big-view-lower {
    font-size: 3.9em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #FD462A;
    float: left;
}

a.big-view-lower:hover, a.big-view-lower:visited, a.big-view-lower {
    text-decoration: none;
}

.top-summary-textb {
    color: #000;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    padding-top: 5px;
    padding-left: 10px;
}

.general-text {
    color: #000;
    font-weight: normal;
    font-size: 0.75em;
    padding-top: 10px;
    display: block;
    padding-left: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.si-general-text {
    color: #000;
    font-weight: normal;
    font-size: 0.75em;
    padding-top: 15px;
    display: inline-block;
    width: 189px;
    padding-left: 17px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.remaining-characters {
    padding-top: 6px !important;
    padding-left: 5px !important;
    width: auto !important;
    padding-bottom: 2%;
    color: #484848;
}

.invite-general-text {
    width: 280px;
    padding-left: 0;
}

.si-notification-icon {
    vertical-align: top;
}

a.notification:hover, a.notification:visited, a.notification {
    text-decoration: none;
    color: #000;
}

.si-date-text {
    color: #000;
    font-weight: bold;
    font-size: 0.75em;
    padding-top: 22px;
    display: inline-block;
    width: 52px;
    vertical-align: top;
    padding-left: 7px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.view-more-text {
    color: #000;
    font-weight: bold;
    font-size: 0.75em;
    padding-top: 5px;
    display: inline-block;
    float: right;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a.view-more-text:hover, a.view-more-text:visited, a.view-more-text {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.0em;
    color: #000;
}

.widget-title-text {
    color: #000;
    font-weight: bold;
    font-size: 1.125em;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.rightside-title-text {
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.rightside-li-date-text {
    color: #919191;
    font-weight: bold;
    font-size: 0.75em;
    vertical-align: middle;
    display: inline-block;
    width: 136px;
    line-height: 50px;
    padding-left: 7px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

/** For date form MMM, dd */
.rightside-li-date-text-short {
    width: 60px !important;
}
/** End for date MMM, dd */

/** For showing different attributes */
.rightside-li-date-text-show-attr {
    width: 72px !important;
}
/** For showing different attributes ends */

.rightside-list-holder li p a {
    color: #007AFF;
    line-height: 50px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    padding-left: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.downloadIcon {
    text-align: center;
    display: block;
    background-color: darkgreen;
}

.rightside-list-holder li a {
    color: #007AFF;
    line-height: 50px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 314px;
    padding-left: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.rightside-list-holder-report li a {
    width: 390px;
}

.rightside-li-middle-text:hover {
    font-weight: bold;
}

.rightside-li-right-text {
    color: #000;
    line-height: 50px;
    font-weight: normal;
    font-size: 1em;
    vertical-align: middle;
    width: 90px;
    direction: rtl;
    display: inline-block;
    padding-left: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.overview_view {
    border: 1px solid #42a2e1;
    background: #42a2e1;
    cursor: pointer;
    font-size: 0.8rem;
    float: left;
    font-weight: bold;
    margin-top: 10%;
    margin-right: 3%;
    padding: 2% 7%;
    color: #fff;
}

.toggle_button_left {
    margin: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.toggle_selected {
    background: #FFF;
    color: #42a2e1;
}

.toggle_disabled {
    background: #484848;
    color: #FFF;
}

.upload-text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.98em;
    font-weight: bold;
}

.toggle_button_right {
    margin: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btnborder {
    border: 1px solid #949393;
    background: white;
    color: black;
}

/*Warning Error Messages*/
.first {
    padding: 2%;
    border: 1px solid black;
    margin-top: 3%;
    margin-bottom: 3%;
    vertical-align: middle;
    background-color: #FF7D70;
    border-radius: 5px;
}

.first p {
    margin-top: -20px;
    color: #fff;
    font-size: 18px;
    padding-left: 5%;
}

.first-small {
    padding: 1% !important;
}

.r-info, .r-success, .r-warning, .r-error, .r-validation {
    border: 1px solid;
    /*border-radius: 5px;*/
    margin: 10px 0px 20px 10px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.95em;
    width: 95%;
}

.r-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../static/images/info.png');
}

.r-success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../../static/images/success.png');
}

.r-warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../static/images/warning.png');
}

.r-error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../static/images/error.png');
}

.r-validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../../static/images/validation.png');
    margin: 10px 0 10px 0;
}

.r-no-bk-image {
    background-image: none;
}

/*Warning Error Messages*/

.blank-space {
    padding: 5px;
}

.margin-left {
    margin-left: 10px;
}

/*text styles*/

/** For google map */
#map-canvas {
    width: 560px;
    height: 550px;
}

#off_screen {
    position: absolute;
    left: -1000px;
    top: -1000px;
}

.mapContainer {
    border: 1px solid red;
    padding: 5px;
}

/** Google map ends */

.photo_section {
    float: left;
    width: 100%;
    margin: 10px 5px 5px 15px;
}

.photo_part {
    float: left;
    width: 28%;
}

.pic {
    float: left;
    width: 170px;
    height: 175px;
    background: #ccc;
}

.photo_button {
    float: right;
    width: 45%;
}

.read_btn {
    margin: 77px 96px 0px 0px;
    width: 153px;
    cursor: pointer;
    height: 49px;
    font-size: 0.875em;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #2c97de;
    padding: 11px 0px;
    color: #fff;
    border-radius: .30em;
}

.choose_file_btn {
    background: #FFF;
    color: #707070;
    border: 1px dotted #606060;
    margin: 0 25px 0 0;
    padding-top: 15px;
    text-align: center;
    width: 300px !important;
    padding-bottom: 2%;
}

.down_form {
    float: left;
    width: 45%;
    margin: 20px 5px 5px 15px;
}

.profile_label {
    float: left;
    padding: 10px 8px 8px 0;
    width: 129px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.profile_label_note {
    padding-top: 40px;
    width: 100% !important;
    color: #606060 !important;
    font-weight: bold !important;
}

.name_txt {
    width: 267px;
    height: 40px;
    line-height: 38px;
    color: #606060;
    font-size: 1.1em;
    padding: 2px 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.row_field {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.sidebar_no_use {
    width: 311px;
    height: auto;
    float: left;
    padding-left: 30px;
    margin-bottom: 60px;
    padding-top: 38px;
}

.white_btn {
    margin: 10px 18px 0px 0px;
    padding: 8px 5px 8px 5px;
    border: 0;
    color: #B8B7B7;
    font-size: 1.1rem;
    width: 370px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: left;
}

.tag_txt {
    width: 200px !important;
    margin-top: 12px;
}

.full {
    float: left;
    width: 100%;
}

.report_my {
    margin-left: -56%;
    background: #Fff;
    z-index: 2;
    height: auto;
    width: 155%;
    padding-top: 3%;
}

.business_reg {
    margin-left: -56%;
    background: #F8F8F8;
    z-index: 2;
    height: auto;
    width: 155%;
    padding-top: 6%;
}

.header_top {
    background: #DCCEE2;
    height: 45px;
    position: fixed;
    width: 100%;
    float: left;
    margin-top: -52px;
    box-shadow: 0px 0px 10px #333;
}

.container {
    padding: 0 20px 0 20px;
    width: 995px;
    margin-right: auto;
    margin-left: auto;
}

.top-menu {
    float: right;
    color: #fff;
    margin-bottom: 0px;
}

.top-menu li {
    float: left;
    color: #fff;
    padding: 10px 20px 10px 15px;
    color: #c4c4c4;
    list-style: none;
    border-right: 1px solid #3b3b3b;
}

.top-menu li a {
    float: left;
    color: #fff;
    font-size: 14px;
}

.head_btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid #4565CA;
    display: inline-block;
    box-shadow: inset 0 1px 0 #9AABEE;
    -moz-box-shadow: inset 0 1px 0 #9AABEE;
    -webkit-box-shadow: inset 0 1px 0 #9AABEE;
    color: #FFF;
    text-decoration: none;
    background: #405FD7;
    /*background: -moz-linear-gradient(top, #002ACD 0%, #475DCC 50%, #002ACD 100%, #002ACD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002ACD), color-stop(50%,#475DCC), color-stop(100%,#00cd6f), color-stop(100%,#00cd6f));
    background: -webkit-linear-gradient(top, #00cd6f 0%,#475DCC 50%,#00cd6f 100%,#00cd6f 100%);
    background: -o-linear-gradient(top, #00cd6f 0%,#475DCC 50%,#00cd6f 100%,#00cd6f 100%);
    background: -ms-linear-gradient(top, #00cd6f 0%,#475DCC 50%,#00cd6f 100%,#00cd6f 100%);*/
    background: linear-gradient(to bottom, #405FD7 0%, #3352CD 50%, #1049C3 100%, #2A5BC3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00cd6f', endColorstr='#00cd6f', GradientType=0);
    padding: 5px 14px 5px 14px;
    border-radius: 2px;
    margin: 8px 14px 0px 1px;
    float: left;
    font-weight: bold;
    font-size: 15px;
    padding: 4px 12px 3px 12px;
}

#logo h1 {
    float: left;
    font-size: 32px;
    width: 200px;
}

.styled-select select {
    background: transparent;
    border: none;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.styled-select.slate {
    /*background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;*/
    height: 34px;
    width: 240px;
    margin-top: 6px;
    font-size: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color-box {
    float: right;
    width: 30px;
    height: 43px;
    margin: 10px;
    border: 1px solid white;
}

/*Report chronically*/
.ll-h {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2em !important;
    font-weight: bold;
    line-height: 55px !important;
    margin-left: -10px;
}

.ll-t {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1em !important;
    line-height: 40px !important;
}

.ll-t:hover {
    color: #007aff !important;
    font-weight: bold;
}

/*Report chronically ends*/

/*spinner start*/
.spinner {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%; /* Rounds out the halo */
    opacity: .7; /* Some subtle opacity to help blend with variable background colors */
}

.spinner.small {
    height: 18px;
    width: 18px; /* Pixel size of the GIF you download */
    background: url("../../static/images/spiffygif_18x18.gif");
}

.spinner.medium-small {
    height: 36px;
    width: 36px;
    background: url("../../static/images/spiffygif_36x36.gif");
}

.spinner.medium {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    background: url("../../static/images/spiffygif_50x50.gif");
}

.spinner.large {
    height: 112px;
    width: 112px;
    margin-left: auto;
    margin-right: auto;
    background: url("../../static/images/spiffygif_112x112.gif");
}

/*spinner end*/

/*Show and hide scroll*/
.mouseScroll {
    overflow: hidden;
}

.mouseScroll:hover {
    overflow-y: scroll;
}

/*Show and hide scroll*/

/*Temp offset*/
.temp_offset {
    position: absolute;
    left: -3000px;
    top: -3000px;
}

/*Footer */
.big_footer {
    float: left;
    width: 100%;
    /*Float to bottom*/
    /*position: absolute;*/
    /*bottom: 0;*/
}

.mfooter_up {
    float: left;
    width: 100%;
    background: #E8E7E7;
    margin-top: 55px;
}

.footer_row {
    width: 960px;
    margin: 0 auto;
}

.footer_column {
    float: left;
    width: 20%;
    padding: 27px 0px 40px 0px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mfooter_down {
    float: left;
    width: 100%;
    background: #000;
    color: #fff;
}

.footer_copy {
    width: 71%;
    margin: 0 auto;
    font-size: 11px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 16px;
    padding: 15px 0px;
    text-align: center;
}

/*Footer end*/

.mainpage_slider {
    width: 100%;
    min-height: 400px;
    height: auto;
    float: left;
    padding-left: 0px;
    margin-bottom: 0px;
}

.work_content {
    float: left;
    width: 100%;

    border-top: 1px solid #6C6B6B;
}

.work_content p {
    float: left;
    width: 86%;
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: justify;
    line-height: 18px;
    margin: 6px 58px;
}

.col_2 {
    float: left;
    width: 50%;
    border-right: 1px solid #6C6B6B;

    padding: 10px 30px;
}

.col_2 p {
    float: left;
    width: 100%;
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: justify;
    line-height: 18px;
    margin: 10px 0px;
}

.we_do {
    float: left;
    text-align: center;
    width: 100%;
    padding: 85px 0px;
    font-size: 17px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.description {
    float: left;
    text-align: center;
    width: 100%;
    padding: 12px 0px;
    margin-top: 39px;
    font-size: 17px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.space_height {
    float: left;
    width: 100%;
    height: 40px;
}

.work_btm_content {
    float: left;
    width: 100%;
}

.and {
    float: left;
    padding: 20px 44px;
    background: #454444;
    margin: 20px 40px;
    color: #fff;
}

.main_wrapper_last {
    width: 71%;
    margin: 0 auto;

}

.rightside-li-date-text-landing {
    color: #646464;
    font-weight: 600;
    font-size: 0.75em;
    vertical-align: middle;
    display: inline-block;
    width: 118px;
    line-height: 50px;
    padding-left: 7px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: left;
}

.doted li {
    border-bottom: 1px dotted #919191;
}

a.expense-tag:hover, a.expense-tag:visited, a.expense-tag:link {
    text-decoration: none;
}

.calendar {
    font-size: 0.95em !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.text-left {
    text-align: left;
}

.analysis {
    color: #919191;
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: middle;
    /*display: inline-block;*/
    width: 60px;
    line-height: 20px;
    padding-left: 7px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
}

.analysis-text {
    margin: 20px 0 30px 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 20px;
    word-wrap: break-word;
    width: 920px;
}

.receipt-tag {
    color: #030201;
    font-weight: bold;
    font-size: 0.95em;
    vertical-align: middle;
    display: inline-block;
    width: 120px;
    line-height: 40px;
    padding-left: 7px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background: #FFFFFF url("/static/images/select_down.png") no-repeat 90% 50%;
    background-size: 15px 15px;
}

.receipt-tag select {
    padding: 5px 7px;
    width: 95%;
    border: 1px solid #ccc;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.receipt-tag select:focus {
    outline: none;
}

.notification-counter {
    position: absolute;
    top: -1px;
    margin-top: -8px;
    left: 12px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}

/*Logout Button*/
.logout_btn {
    background: none !important;
    border: none;
    padding: 0 !important;

    /*optional*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.963em;
    color: #333333;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

.logout_btn:focus {
    outline: 0 !important;
}

/*Logout End*/

/* Login page */
.separator {
    text-align: center;
    height: 0.5em;
    border-bottom: 2px solid black;
    margin-bottom: 0.5em;
}
.separator:first-line {
    background-color: white;
}
/* Login page */

/** Circle div image */
.member {
    background-color: #d6dadc;
    border-radius: 3px;
    color: #d6dadc;
    display: block;
    float: left;
    height: 30px;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
    width: 30px;
    text-decoration: none;
    user-select: none;
    z-index: 0;
}

.member-initials {
    display: block;
    font-size: 9pt;
    font-weight: 700;
    height: 30px;
    left: 0;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
/** Circle div image */
