<configuration>

    <property name="log_home" value="/var/log/receiptofi" />
    <property name="log_name" value="receiptofi" />
    <property name="log_ext" value="log" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>all</level>
        </filter>

        <file>${log_home}/${log_name}.${log_ext}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log_name}.%i$.{log.ext}.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>30</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>

        <!--<encoder>-->
            <!--<pattern>[DateTime=%d{yyyy-MM-dd HH:mm:ss}] [Thread=%thread] [ID=%X{X-REQUEST-ID}] Type=%-5p [LineNumber=%L] [Method=%C{46}.%M] Message=%msg%n</pattern>-->
        <!--</encoder>-->

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="com.receiptofi" level="debug" />
    <logger name="com.receiptofi.web.filter.LogContextFilter" level="OFF" />
    <logger name="org.spring" level="info" />

    <logger name="org.apache.activemq" level="OFF"/>

    <root level="all">
        <appender-ref ref="FILE" />
    </root>
</configuration>